[user]
	name = Alykhan Kanji
	email = github@alykhan.com
[github]
	user = alykhank
[credential]
	helper = osxkeychain
[color]
	ui = true
[alias]
	st = status
	ci = commit
	co = checkout
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = simple
