snippet for "For" b
for ${1:item} in ${2:iterable}:
	${3:pass}
endsnippet

snippet def "Function" b
def ${1:function}(${2:parameters}):
	${3:pass}
endsnippet

####################
# If / Else / Elif #
####################
snippet if "If" b
if ${1:condition}:
	${2:pass}
endsnippet

snippet ife "If / Else" b
if ${1:condition}:
	${2:pass}
else:
	${3:pass}
endsnippet

snippet ifee "If / Elif / Else" b
if ${1:condition}:
	${2:pass}
elif ${3:condition}:
	${4:pass}
else:
	${5:pass}
endsnippet
